body.noscroll {
    overflow-y: hidden;
}

#nfd-global-ctb-container {
    position: absolute;
}

#nfd-global-ctb-container,
.global-ctb-modal-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#nfd-global-ctb-container {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 100000;
}

#nfd-global-ctb-container[aria-hidden='true'] {
    display: none;
}

.global-ctb-modal-overlay {
    background-color: rgba(43, 46, 56, 0.9);
}

.global-ctb-modal-content {
    align-items: center;
    background-color: white;
    background: white;
    color: black;
    display: flex;
    height: 80vh;
    justify-content: center;
    margin: auto;
    max-height: 80vh;
    max-width: 80vw;
    min-height: 80vh;
    min-width: 80vw;
    padding: 0;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 999px) {
    .global-ctb-modal-content {
        max-height: 80vh;
        max-width: 80vw;
        min-height: 80vh;
        min-width: 80vw;
    }
}

.global-ctb-modal iframe {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width:100%;
    width: 100%;
}


.global-ctb-modal button {
    cursor: pointer;
}

.global-ctb-loader {
    -webkit-animation: globalctbloader .9s infinite linear;
    animation: globalctbloader .9s infinite linear;
    background: #3575d3;
    background: linear-gradient(to right, #3575d3 5%, rgba(0, 0, 0, 0) 32%);
    border-radius: 50%;
    height: 5rem;
    position: relative;
    transform: translateZ(0);
    width: 5rem;
    will-change: transform;
}

.global-ctb-loader:before {
    background: #3575d3;
    border-radius: 100% 0 0 0;
    content: "";
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.global-ctb-loader:after {
    background: #fff;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 88%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 88%;
}

@keyframes globalctbloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
